/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2022, 5:13:22 PM
    Author     : Darth Vader
*/
*{
    margin: 0;
    padding: 0;
}
.body{
    background-image:url() ;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    
}
.classes-form{
    width: 800px;
    background-color:rgb(0,0,0.6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px
}
.main{
    background-color: rgb(0,0,0.5);
    width: 800px;
    margin: auto;
    
}
.label{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.form-control{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.button{
    background-color: #3BAF9F;
    display: block;
    margin:20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366476;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}


